*{
    box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #79ece4, #169aca);
  font-family: 'Quicksand', sans-serif;
}

header h1 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 72px;
  margin: 40px auto;
  background: -webkit-linear-gradient(black, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  margin: 0 auto;
  width: 650px;
}

footer {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background: linear-gradient(to left, #169c93, #1590bc);
  border-radius: 10px;
  border: 1px solid white;
  font-size: 18px;
  margin: 30px auto;
  width: 650px;
  padding: 1px 0;
  background-color: white;
}

.gameBoard {
  // background-color: lightGrey;
  width: 650px;
  height: 180px;
  margin-top: 10px;
}

.roundDisplay {
  font-family: 'Quicksand', sans-serif;
  font-size: 32px;
  text-align: center;
}

.square {
  border-radius: 5px;
  width: 50px;
  height: 100px;
  float: left;
  display: inline-block;
  &:not(:first-of-type):not(:last-of-type) {
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  &:hover {
    &:not(:first-of-type):not(:last-of-type) {
      transform: scale(1.15);
    }
  }

}
.difficulty {
  background-color: yellow;
  width: 650px;
  height: 60px;
  margin-top: 20px;
  text-align: center;
}

.inplay {
  background-color: red;
  width: 650px;
  height: 60px;
  margin-top: 10px;
}

.scoreSound {
  background-color: green;
  width: 650px;
  height: 100px;
  margin-top: 50px;
  text-align: center;
}

button {
	border-radius: 10px;
	box-shadow: 0px 2px 4px rgba(34,62,66,.25);
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 10px 40px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: box-shadow 1s ease;
	transition: box-shadow 1s ease;
  margin: 5px 10px;
}

.easyButton, .hardButton {
  background: linear-gradient(45deg, #216deb 0%, #875891 50%, #ec4437 100%);
  color: white;
}

.resetButton {
  background: linear-gradient(45deg, #5ca10e 0%, #9e7a3b 50%, #df5369 100%);
  float: left;
}

.nextButton {
  background: linear-gradient(45deg, #6746f2 0%, #a72597 50%, #e8043d 100%);
  float: right;
}

.soundOnOff {
  background: linear-gradient(45deg, #71d72f 0%, #ad7d27 50%, #e8221f 100%);
  margin: 0 auto;
}

// .email {
//   color: red;
// }
//
// .twit {
//   color: green;
// }
//
// .linked {
//   color: yellow;
// }
//
// .git {
//   color: blue;
// }
