*{
    box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #1BBCB1, #37B9E9);
  font-family: 'Quicksand', sans-serif;
}

header h1 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 72px;
  margin: 40px auto;
  background: -webkit-linear-gradient(black, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  margin: 0 auto;
  width: 650px;
}

footer {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 18px;
  margin: 40px auto;
}

.gameBoard {
  background-color: grey;
  width: 650px;
  height: 200px;
  margin-top: 10px;
}

.roundDisplay {
  font-family: 'Quicksand', sans-serif;
  font-size: 32px;
  text-align: center;
}
.square {
  background-color: blue;
  width: 50px;
  height: 35px;
  float: left;
  display: inline-block;
  &:not(:first-of-type):not(:last-of-type) {
    cursor: pointer;
    transition: all 0.2s ease;
  }
  &:hover {
    &:not(:first-of-type):not(:last-of-type) {
      transform: scale(1.05);
    }
  }

}
.difficulty {
  background-color: yellow;
  width: 650px;
  height: 40px;
  margin-top: 10px;
  text-align: center;
}

.inplay {
  background-color: red;
  width: 650px;
  height: 40px;
  margin-top: 10px;
}

.scoreSound {
  background-color: green;
  width: 650px;
  height: 80px;
  margin-top: 10px;
}

button {
  background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(34,62,66,.25);
  color: #000;
  font-size: 12px;
  letter-spacing: 0.5px;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: box-shadow 1s ease;
	transition: box-shadow 1s ease;
  margin: 5px 10px;
}

// .easyButton .hardButton {
//   position: absolute;
//   top: 50%;
//   margin-top: 10px;
// }
//
// .hardButton {
//   margin-left: 10px;
// }
